[submodule "dependencies/sqapi"]
	path = dependencies/sqapi
	url = https://gitlab.com/GothicMultiplayerTeam/dependencies/sqapi.git
[submodule "dependencies/ixwebsocket"]
	path = dependencies/ixwebsocket
	url = https://github.com/machinezone/IXWebSocket.git